# Ignorar arquivos de configuração sensíveis
config.env
secrets.json
credentials.yml

# Ignorar diretórios
env/					# Ambientes virtuais Python
node_modules/           # Dependências do Node.js
__pycache__/            # Arquivos compilados do Python
logs/                   # Logs da aplicação

# Ignorar arquivos específicos
*.log                   # Qualquer arquivo .log
*.sqlite                # Bancos de dados SQLite
*.csv
